{% load static %}
{% load i18n %}


<!DOCTYPE html>
<html lang="en" >
   <head>
        <meta charset="utf-8"/>
        <title>{{ title }} | {{ description }}</title>
        <meta name="description" content="{{ description }}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="base_url" content="{{ base_url }}"/>
        <link rel="canonical" href="{{ base_url }}"/>
        <meta name="description" content="{{ description }}" />

        {% block before_header %}
        {% endblock %}

        {% include "partials/header.html" %}

        {% block after_header %}
        {% endblock %}

        <link rel="shortcut icon" href="{% static 'img/logo.png' %}"/>
   </head>
   <body id="app" class="{% block body_class %}{% endblock %}">
        {% block content %}
        {% endblock %}

        {% block before_footer %}
        {% endblock %}

        {% include "partials/footer.html" %}

        {% block after_footer %}
        {% endblock %}
    </body>
</html>
